@import '../../_base.scss'; 

.chatHeader{
  padding: 0.5rem;
  color: $black-primary;
}


.chatScreen{
   
    background: #e7e4e4;
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
    padding-top: 2rem;
    transition: transform 0.2s ease-in;
    overflow-y: scroll;
    //border: 1px solid #4d4f52;
    border-radius: 5px;

    &__text{
        color: $black-primary;
        font-size: 12px;
        background-color: #efecec;
        
        padding: 0.5rem;
    }
}
.chatFormInput{
    margin-top: 0.7rem;
}