.test{
 
    position: absolute;
  
    color: #000;
    /* z-index: 9; */ 
    top: 55px;
    /* display: none; */
    background: #f7f6f6;
    overflow: hidden;
    white-space: nowrap; 
 
    img{
        width: 100px;
        height: 80px;
    }
}
.search__component{
   background: #e7e4e4;
   margin: 1rem;
}
.suggestion{
    display: flex;
    cursor: pointer;
    align-items: center;

    &__channelTitle{
        margin-top: 0.5rem;
        font-weight: bold;
    }
}
.text-slate-500{
    font-size: 0.8rem;
}